body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.forgot-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #55d6c2;
}

.forgot-box {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid white;
    border-radius: 20px;
    padding: 50px;
    width: 550px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.forgot-message {
    color: black;
    font-size: 18px;
    text-align: center;
    font-style: italic;
    margin-bottom: 30px;
}

.forgot-input {
    width: 80%;
    padding: 12px 15px;
    margin: 0 auto 30px auto;
    display: block;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.9);
}

.forgot-buttons {
    display: flex;
    flex-direction: column;
    /* stack buttons vertically */
    align-items: center;
    gap: 15px;
    /* space between buttons */ }

.submit-btn {
    width: 30%;
    padding: 10px 20px;
    background-color: #03cc17;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #01aa12;
}

.signin-btn {
    width: 30%;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signin-btn:hover {
    background-color: #0056b3;
}