body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.signup-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #55d6c2;
}

.signup-box {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid white;
    border-radius: 20px;
    padding: 50px;
    width: 550px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.signup-main-title {
    color: black;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 10px;
}

.signup-subtitle {
    color: black;
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}

.signup-input {
    width: 80%;
    padding: 12px 15px;
    margin: 0 auto 20px auto;
    display: block;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.9);
}

.signup-button {
    width: 30%;
    display: block;
    margin: 0 auto;
    padding: 12px;
    background-color: #007bff;
    /* Blue color */
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup-button:hover {
    background-color: #0056b3;
}

.signup-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 14px;
    align-items: center;
    color: black;
}

.signin-link {
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: underline;
}